<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suptodas.diu.diuteacherinitialinformation">

    <application
        android:allowBackup="true"
        android:icon="@drawable/apps_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/apps_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopUpinfo"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".AddTeacherInfo" />
        <activity android:name=".AdminUserInfo" />
        <activity android:name=".TeacherInfo" />
        <activity android:name=".UserInfo" />
        <activity android:name=".AdminView" />
        <activity android:name=".UserPage" />
        <activity android:name=".AdminPage" />
        <activity android:name=".FirstScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>